
.Square{
    padding: 20px;
    flex-grow: 1;
    flex-basis: 0;
    color: #FFFFFF;
}

.bg-pink{
    background-color: #d675ca;
}

.bg-blue{
    background-color: #3b9bec;
}

.bg-green{
    background-color: #88da7e;
}

.bg-yellow{
    background-color: #f7f256;
}

.bg-orange{
    background-color: #f7b756;
}

.bg-red{
    background-color: #AE2F2F;
}
