.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  flex-direction: column; 
  flex: 1;
  justify-content: center;
}


.Button-default{
  padding: 6px 10px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

h1{
  font-size: 1.4em;
}

.Chrono{
  font-size: 1.2em;
}

.NbSquares{
  font-size: 0.8em;
  color: #d0d0d0;
}

.Subtitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 20px;
}

ul{
  margin: 0;
  padding: 0;
}

.Squares-line{
  display: flex;
  flex-direction: row;
  align-items: 'stretch'; 
  justify-content: center;
}

.Line-container-ul {
  display: flex;
  flex: 1;
  list-style: none;
  flex-direction: row;  
}

