.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  flex-direction: column; 
  flex: 1;
  justify-content: center;
}


.Button-default{
  padding: 6px 10px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

button.Button-default:hover{
  opacity: 0.9;
}

h1{
  font-size: 1.4em;
}

.ml10{ margin-left: 10px; }

.Chrono{
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.NbSquares{
  font-size: 0.8em;
  color: #d0d0d0;
}

.Subtitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 20px;
}

ul{
  margin: 0;
  padding: 0;
}

.Squares-line{
  display: flex;
  flex-direction: row;
  align-items: 'stretch'; 
  justify-content: center;
}

.Line-container-ul {
  display: flex;
  flex: 1;
  list-style: none;
  flex-direction: row;  
}

.Change-game-form{
  background-color: #282c34;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.Change-game-form > label{
  display: flex;
  align-items: center;
  margin: 2px 8px;
}

.Change-game-form > .Operator{
  margin: 0px 6px;
}

.Change-game-form > label > input{
  border-radius: 15px;
  padding: 5px 0px 5px 10px;
  border: none;
  margin-right: 10px;
  width: 70px;
  text-align: center;
}

